    
        :root {
            --primary-font: 'Roboto', sans-serif;
            --logo-font: 'Raleway', sans-serif;
            --primary-text-color-theme-dark: #FFFFFF;
            --primary-text-color-theme-light: #212121;
            --secondary-text-color-theme-light: #757575;
            --logo-text-color-black: #000000;
            --color-blue: #2196F3;
            --background-color-dark: #2F303A;
            --light-grey-color: #EEEEEE;
            --another-grey-color: #F5F4FA;
            --another-black-color: #2F303A;
            --transparent-white-color: rgba(255, 255, 255, 0.6);
            --hover-background-color: #188CE8;
            --header-border-color:#ECECEC;
            
        }
    
        h1,
        h2,
        h3,
        h4,
         p {
        margin-top: 0;
        margin-bottom: 0;
        }

        ul, 
        ol {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }

        img {
        display: block;
        max-width: 100%;
        height: auto;
        }

        button {
            cursor: pointer;
            display: block;
            margin: 0 auto;
            padding: 10px 32px;
            border: none;
            border-radius: 4px;
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-decoration: none;
        }

        
                button::-moz-focus-inner {
                    border: 0;
                    padding: 0;
                }

    .list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .link {
        text-decoration: none;
        color: var(--primary-text-color-theme-light);
    }

        body {
            font-family: var(--primary-font);
            color: var(--primary-text-color-theme-light);
            background-color: var(--primary-text-color-theme-dark);
            font-size: 14px;
            letter-spacing: 0.03em;

        }

        .section {
            padding: 94px 0;

        }

        .container {
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        address {
            font-style: normal;
        }

        .active.link {
            color: var(--color-blue);
        }

        .visually-hidden {
         position: absolute;
         width: 1px;
         height: 1px;
         margin: -1px;
         border: 0;
         padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
                }

    /* HEADER */

    .page-header {
        padding: 25px 0;
        border: 1px solid var(--header-border-color);
    }

        .page-header-container {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
        

            .contact-header-container {
            display: flex;
             align-items: center;
            margin-left: auto;
                }

        .page-navigation {
            display: flex;
            align-items: center;
        }

        .main-menu {
            display: flex;
        }


.logo   {
color: var(--logo-text-color-black);
font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 90px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.contact-menu-item:not(:last-child) {
    margin-right: 50px;
    
}


    .text-blue {
            color: var(--color-blue);
            letter-spacing: 0.03em;
    }

        .menu-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--primary-text-color-theme-light); 
        }

        .menu-link.contact-link {
            color: var(--secondary-text-color-theme-light);
            }

        .menu-link:hover,
        .menu-link:focus {
                    color: var(--color-blue);
                }

         
                    /* Studio contect */

        .hero-section {
        background-color: var(--background-color-dark);
        padding-top:200px;
        padding-bottom: 200px;
        
            }


                    /* Hero Main contact */
        .main-tittle    {
                color: var(--primary-text-color-theme-dark);
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                letter-spacing: 0.06em;
                max-width: 696px;
                margin: 0 auto;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 30px;
        }

        .main-button {
            background-color: var(--color-blue);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            font-family: inherit;
            color: var(--primary-text-color-theme-dark);
            letter-spacing: 0.06em;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.87;
                text-align: center;
                letter-spacing: 0.06em; 
                margin: 0 auto;
                display: block;
                
                
        }

        
        .main-button:hover, 
        .main-button:focus {
        background-color: var(--hover-background-color);
    
        }

        /* Benefits  */


.benefits-list {
    display: flex;
    gap: 30px;
}
         
        .benefits-list-item-tittle {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    margin-bottom: 10px;
        }

                .benefits-list-item-description {
                color: var(--secondary-text-color-theme-light);
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                }

            /* Employees */

            .about-section {
            padding-top: 0;
                        }
                                       
       
                 .flex-list {
                 display: flex;
                 flex-wrap: wrap;
                 gap: 27px;
                
                }

            .employees-section {
            background-color: #F5F4FA;
            padding: 94px 0;
                        }


            .employees-card-content-wrapper {
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center;
            }



            .about-employees-list-item {
                background: var(--primary-text-color-theme-dark);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
            }
            

            .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
            }

        .employee-name {
            color: var(--primary-text-color-theme-light);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            margin-bottom: 9px;
        }

        .employee-position {
        color:var(--secondary-text-color-theme-light);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        }


        /* Footer */
 .footer-list {
     background-color: var(--background-color-dark);
     padding: 60px 0;
 }

  .footer-logo {
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
    display: block;
  }

  .footer-list-item:not(:last-child) {
      margin-bottom: 9px;
  }

 .maps {
        color: var(--primary-text-color-theme-dark);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
 }

 .adress-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
 }


/* Portfolio second page */
/* Buttons */

.filter-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  
}


.filter-list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    background-color: var(--another-grey-color);
    border-radius: 4px;
    color: var(--primary-text-color-theme-light);
    padding: 6px 22px;
}


.filter-list-button:hover,
.filter-list-button:focus
 { 
    color: var(--primary-text-color-theme-dark);
    background-color: var(--color-blue);
    
}

.portfolio-item {
    background: var(--primary-text-color-theme-dark);
    border: 1px solid var(--light-grey-color);
}

.portfolio-item .employees-card-content-wrapper {
    text-align: left;
    padding: 20px 24px;
}

.portfolio-item-title {
    color: var(--primary-text-color-theme-light);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
 
.portfolio-item-description {
    color: var(--secondary-text-color-theme-light);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

